@import "../../globalStyle.scss";
@import "../../globalMixins.scss";
.base {
  .header {
    padding: 3em;
    height: 30em;
    background-color: #faffe8;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img {
      height: 20em;
      margin-bottom: 3em;
    }

    > p {
      @include lightfont;
      font-size: 2em;
    }
  }
  > div:nth-child(2) {
    height: 50em;
    > h1 {
      @include boldfont;
      font-size: 2.5em;
      margin-left: 1em;
      margin-top: 1em;
    }
    > .popular {
      display: flex;
      margin: auto;
      flex-direction: column;
      > div {
        display: flex;
        margin: auto;
        > div {
          background-color: rgba(49, 54, 54, 0.452);
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 6em;
          width: 15em;
          @include lightfont;
          @include SlightRoundBorder;
          margin: 1em;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          &:hover {
            @include boldfont;
            cursor: pointer;
            transform: scale(1.01);
            -webkit-transform: scale(1.01);
            -moz-transform: scale(1.01);
            -ms-transform: scale(1.01);
            -o-transform: scale(1.01);
            -webkit-transform: scale(1.01);
            background-color: crimson;
            color: white;
          }
        }
      }
    }
    > .reviews {
      padding: 5em;
      width: 100em;
      padding: 2em;
      height: 40em;
      margin-bottom: 5em;
      text-align: center;
      display: flex;
      margin: auto;
      gap: 2em;
      margin-top: 5em;
      justify-content: center;
      @include SquareRoundBorder;
      border-radius: 2em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      > div {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 2em;
        > p {
          width: 15em;
          margin-inline: 1em;
        }
        > img {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          width: 24em;
        }
        > img:nth-child(1) {
          height: 30em;
        }
      }
    }
  }
}
