@import "../../globalStyle.scss";
@import "../../globalMixins.scss";
.base {
  background-color: white;
  .searchBar {
    padding: 5em;

    > h1 {
      @include boldfont;
      font-size: 2.5em;
    }

    .mainInput {
      display: flex;
      gap: 1em;
      align-items: center;

      > button {
        vertical-align: middle;
        @include btn;
      }
    }
  }
  .listView {
  }
}
