@import "../../globalStyle.scss";
@import "../../globalMixins.scss";
.base {
  background-color: white;
  .mainInput{
    display: flex;
    gap:1em;

    .customInput{
      background-color: black;
      color: red;
      font-size: 80em;
      height: 50em;
    }
  }
}
