@import "../../globalStyle.scss";
@import "../../globalMixins.scss";

.base {
  padding: 3em;
  .header {
    display: flex;
    gap: 2em;
    vertical-align: middle;
    align-items: center;
    > h1 {
      @include boldfont;
      margin-left: 30vh;
    }

    > button {
      @include btn;
      margin-left: 3em;
      justify-content: center;
      align-items: baseline;
    }
  }
  .privateOrder {
    > div {
      margin-top: 5em;
      @include table_style;

      > div:nth-child(2) {
        background-color: white;
        cursor: pointer;
        & :hover {
          @include transition;
          @include boldfont;
          transform: scale(1.01);
          -webkit-transform: scale(1.01);
          -moz-transform: scale(1.01);
          -ms-transform: scale(1.01);
          -o-transform: scale(1.01);
          -webkit-transform: scale(1.01);
        }
      }
    }
  }
}
