@import "../globalStyle.scss";
@import "../globalMixins.scss";

.seatmap {
  outline: 1px solid blue;
  background-color: rgba(144, 146, 33, 0.582);
  @include SquareRoundBorder;
  filter: drop-shadow(2px 1px 3px rgba(73, 71, 71, 0.493));
  height: fit-content;
  width: 35em;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;

  > div {
    filter: drop-shadow(2px 1px 3px rgba(73, 71, 71, 0.493));
    justify-content: center;
    align-items: center;
    display: flex;
  }

  section {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    div {
      display: flex;
      gap: 0.5em;
    }

    label {
      font-family: "Courier New", Courier, monospace;
      text-align: center;
      height: 5em;
      width: 5em;
      background-color: grey;
      @include SlightRoundBorder;
      font-size: 1.3em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
    }

    label:hover {
      background-color: red;
      @include transition;
      transform: scale(0.99);
      -webkit-transform: scale(0.99);
      -moz-transform: scale(0.99);
      -ms-transform: scale(0.99);
      -o-transform: scale(0.99);
    }
  }

  section:nth-of-type(2) {
    margin-left: 1em;
  }
}

.selected {
  background-color: crimson !important;
  color: white;
}
